// Place all the styles related to the websites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-p: "Cantarell", sans-serif;
$font-header: "Fjalla One", sans-serif;
$red: #b61628;
$darkGrey: #212121;
$teal: #5eaeab;

@mixin borderRadius($value) {
    border-radius: $value;
    -moz-border-radius: $value;
    -webkit-border-radius: $value;
}

@mixin borderRadiusBottoms($value) {
    border-bottom-left-radius: $value;
    -moz-border-bottom-left-radius: $value;
    -webkit-border-bottom-left-radius: $value;
    border-bottom-right-radius: $value;
    -moz-border-bottom-right-radius: $value;
    -webkit-border-bottom-right-radius: $value;
}


p {
    font-family: $font-p;
    font-size: 12px;
    line-height: 1.5em;
}

h1 {
    color: $red;
}

h1, h2, h3, h4, h5 , h6 {
    font-family: $font-header;
}

#container {
    width:900px; height:500px;
    margin: 50px auto 0 auto;
    border: 2px solid #ddd;
    @include borderRadius(10px);
    overflow: hidden; 
}

#sideL {
    width: 200px; height: 100%;
    padding: 0 15px;
    overflow: hidden;
    background-color: $darkGrey;
    color: #fff;
    display: inline-block;
    vertical-align: top;
}

.info {
    overflow: scroll;
    height: 100%;
}

#tasks_label {
    background-color: $red;
    width: 85px; height: 30px;
    padding: 0;
    margin: 0 auto 15px auto;
    top: 0px;
    @include borderRadiusBottoms(5px);

    h2{
        margin: 0;
        font-size: 16px;
        font-weight: normal; 
        padding-top: 6px;
        text-align: center;
        letter-spacing: 1px;
    }
}

.info {
    width: 175px;
    margin: 0 auto;
}

#main, #pomodoro, .card{
    vertical-align: top;
    width: 666px;
    margin: 0;
    text-align: center;
    display: inline-block;

    section {
        width: 500px;
        margin: 0 auto;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
        color: $darkGrey;
    }

    input[type="submit"] {
        padding: 5px 10px; margin: 25px;
        background-color: $teal;
        font-family: $font-header;
        font-size: 18px;
        color: #fff;
        @include borderRadius(5px);
        border: none;
    }

    input[type="submit"]:hover {
        padding: 10px 15px;
    }

}
 

/*********** Timer Styles ************/

#pomodoro, .card {
    width: 400px;
    height: 250px;
    background-color: #EEEEEE;
    box-shadow: 1px 1px 7px rgba(0,0,0,.7);
    @include borderRadius(5px);
    position: relative;
    top: 10px;
    overflow: hidden;
    
    h1 { 
        margin: 0;
        color: #fff;
    }
}


#pom-controls {
    ul {
        list-style: none;
        margin: 0 auto;
        padding: 0;
    }

    li {
        display: inline-block;
    }

    button {
        background-color: none;
        border: none;
        @include borderRadius(5px);
        color: #fff;
        font-family: $font-p;
        font-weight: bold;
        margin: 0 10px;
        padding: 5px 20px;
    }
}

#pom-time {
    margin: 25px 0 13px 0;
    // height: 150px;
    font-family: $font-header;
    font-size: 6em;
}

.work {
    background-color: $teal;
    height: 40px;
    padding-top: 15px;
}

.break {
    background-color: $red;
    height: 40px;
    padding-top: 15px;
}

.card {
    height: 200px;
    margin-top: 20px; 
}

.fa-play-circle {
    color: $darkGrey;
}

.allDone {
    background-color: $red;
    text-align: center;

    h4 {
        color: #fff;
        font-size: 60px;
        margin-top: 75px;
    }

    a {
        color: rgba(255, 255, 255, .8);
        text-decoration: none;
        font-family: $font-p;
    }

    a:hover {
        color: rgba(255, 255, 255, 1);
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}